@import '@fontsource-variable/geist/wght.css';
@import '@fontsource-variable/geist-mono/wght.css';
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.993 0.002 256);
  --foreground: oklch(0.378 0.016 256);

  --card: oklch(0.982 0.002 256);
  --card-foreground: oklch(0.501 0.018 256);

  /* --popover: var(--color-12);
  --popover-foreground: var(--color-1); */

  --primary: oklch(0.378 0.016 256);
  --primary-foreground: oklch(0.993 0.002 256);

  /* --secondary: var(--color-11);
  --secondary-foreground: var(--color-3); */

  --muted: oklch(0.936 0.006 256);
  --muted-foreground: oklch(0.645 0.018 256);

  /* --accent: var(--color-11);
  --accent-foreground: var(--color-2); */

  /* --destructive: var(--color-4);
  --destructive-foreground: var(--color-12); */

  --border: oklch(0.936 0.006 256);
  /* --input: var(--color-11);
  --ring: var(--color-8); */

  /* --chart-1: var(--color-3);
  --chart-2: var(--color-5);
  --chart-3: var(--color-7);
  --chart-4: var(--color-9);
  --chart-5: var(--color-10); */

  --radius: 0.625rem;

  /* --sidebar: var(--color-12);
  --sidebar-foreground: var(--color-1);
  --sidebar-primary: var(--color-1);
  --sidebar-primary-foreground: var(--color-12);
  --sidebar-accent: var(--color-11);
  --sidebar-accent-foreground: var(--color-2);
  --sidebar-border: var(--color-11);
  --sidebar-ring: var(--color-8); */
}

.dark {
  --background: oklch(0.165 0.007 264);
  --foreground: oklch(0.932 0.004 256);

  --card: oklch(0.197 0.008 264);
  --card-foreground: oklch(0.86 0.008 256);

  /* --popover: var(--color-2);
  --popover-foreground: var(--color-11); */

  --primary: oklch(0.932 0.004 256);
  --primary-foreground: oklch(0.165 0.007 264);

  /* --secondary: var(--color-2);
  --secondary-foreground: var(--color-11); */

  --muted: oklch(0.303 0.013 264);
  --muted-foreground: oklch(0.645 0.018 256);

  /* --accent: var(--color-3);
  --accent-foreground: var(--color-12); */

  /* --destructive: var(--color-9);
  --destructive-foreground: var(--color-1); */

  --border: oklch(0.303 0.013 264);
  /* --input: var(--color-3);
  --ring: var(--color-7); */

  /* --chart-1: var(--color-10);
  --chart-2: var(--color-9);
  --chart-3: var(--color-8);
  --chart-4: var(--color-7);
  --chart-5: var(--color-6); */

  /* --sidebar: var(--color-2);
  --sidebar-foreground: var(--color-12);
  --sidebar-primary: var(--color-12);
  --sidebar-primary-foreground: var(--color-1);
  --sidebar-accent: var(--color-3);
  --sidebar-accent-foreground: var(--color-12);
  --sidebar-border: var(--color-3);
  --sidebar-ring: var(--color-7); */
}

@theme inline {
  --font-sans: 'Geist Variable', ui-sans-serif, system-ui, sans-serif;
  --font-mono:
    'Geist Mono Variable', ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  /* --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground); */

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  /* --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground); */

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  /* --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground); */

  /* --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground); */

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  /* --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5); */

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring); */
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  color: var(--foreground);
  font-family: var(--font-sans);
  background-color: var(--background);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }

  button,
  a {
    @apply transition-colors duration-300 ease-in-out;
  }
}
